<span style="padding-bottom: 4px;text-align: center;">Total Users:{{totalusers}}</span>
<div style="padding-bottom: 2px;"></div>
<p-table #dt1 [columns]="cols" [value]="tabledata" [paginator]="true" [rows]="10" dataKey="vin"
    [resizableColumns]="true" [reorderableColumns]="true" >
    <ng-template pTemplate="header" let-columns >
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn style="text-align: center;">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="text-align:center"> View</th>
            <!-- <th>Edit 
            </th> -->
        </tr>
        <!-- <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                <input pInputText type="text" 
                    (input)="dt1.filter($event.target.value, col.field, 'contains')"
                    [value]="dt1.filters[col.field]?.value">
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns let idx = index">
                <div style="text-align:center"> 
                    <span >
                        {{rowData[col.field]}}
                    </span>
                   
                </div>
                
            </td>
            <td style="text-align:center">
              <button type="button" class="btn btn-primary" routerLink="/users/{{rowData.id}}">view</button>
                <!-- <i class="pi pi-trash" (click)="DeleteFile(rowData)" style="cursor: pointer;"></i> -->
            </td>
        </tr>
    </ng-template>
</p-table>