<div class="card">
    <div class="card-header">
      <strong>Buy Jan</strong>
      <!-- <small>Form</small> -->
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
              <label for="name"><b>Jan</b></label> <span class="float-right">{{credits * 1000}} credits</span>
              <input type="number" class="form-control" id="name" placeholder="Enter the jan" [(ngModel)]="credits" min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><br><br>
              <h4>Note:</h4><br>
              <span>1 JAN  coin = 1000 credits</span>
            </div>
          </div>
            <div class="col-sm-4">
              <div class="form-group text-center">
                <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode><label class="d-block">Scan QR</label>
                <!-- <label for="name">Jan</label> <span>(1JAN = 1000 credits)</span>{{credits * 1000}}
                <input type="number" class="form-control" id="name" placeholder="Enter the jan" [(ngModel)]="credits"> -->
              </div>
            </div>
        </div>
      
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="addCredits()" style="float:right;background-color: #0072bc ;">Deposit</button>
      </div>
  </div>

  
  <div bsModal #modal   #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Enter Ethereum Account Number</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="lgModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
        <div class="modal-body" >
          <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Account Number</label>
                <input type="text" class="form-control" id="name" placeholder="Enter the ethereum account" [(ngModel)]="accountnumber" >
              </div>
              <button type="button" class="btn btn-sm btn-primary" style="float: right;" (click)="Addaccount(rowdata)">Add</button>
              <div style="color: red;">
                {{message}}
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  
  </div>