
<p-table [columns]="cols" [value]="tabledata">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th style="width:4em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <!-- <button pButton class="pi pi-trash" (click)="selectCarWithButton(rowData)"></button> -->
                <i class="pi pi-trash"></i>
            </td>
        </tr>
    </ng-template>
  </p-table>