





<div class="flex-row flex-box" >
    <!-- <div class="p-2 pull-left"><a routerLink="/buy-credits"><button type="button" class="btn btn-primary"
          style="background-color:  #0072bc;"><i class="fa fa-plus"></i> Add Credits</button></a></div> -->
    <div class="p-2 pull-right"><a routerLink="/url/add"><button type="button" class="btn btn-primary" 
        style="background-color:  #0072bc;"><i class="fa fa-plus"> </i>Add</button></a></div>
  </div>
  <div style="text-align: center;padding-bottom: 20px;">
  
    <span><b>Url List</b></span>
  </div>
  <p-table #dt1 [columns]="cols" [value]="urldata" [paginator]="true" [rows]="10" dataKey="vin"
    [reorderableColumns]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center;">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="text-align:center"> Edit</th>
        <!-- <th>Edit 
              </th> -->
      </tr>
      <!-- <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                  <input pInputText type="text" 
                      (input)="dt1.filter($event.target.value, col.field, 'contains')"
                      [value]="dt1.filters[col.field]?.value">
              </th>
          </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns let idx = index">
          <div style="text-align:center">
            <span >
              {{rowData[col.field]}}
            </span>
          
          </div>
  
        </td>
        <td style="text-align:center">
            <button type="button" class="btn btn-primary" routerLink="/url/edit/{{rowData.id}}">Edit</button>
        </td>
      </tr>
    </ng-template>
  </p-table>