
<!-- <p-table [columns]="cols" [value]="tabledata">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th style="width:4em"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
          <td> -->
              <!-- <button pButton class="pi pi-trash" (click)="selectCarWithButton(rowData)"></button> -->
              <!-- <i class="pi pi-trash"></i>
          </td>
      </tr>
  </ng-template>
</p-table> -->

<div class="flex-row flex-box" *ngIf="showupload">
    <div class="p-2 pull-left" ><a routerLink="/buy-credits"><button type="button" class="btn btn-primary" style="background-color:  #0072bc;"><i class = "fa fa-plus"></i>  Add Credits</button></a></div>
    <div class="p-2 pull-right"><a routerLink="/upload"><button type="button" class="btn btn btn-success" style="background-color: #2a9201;"><i class="fa fa-cloud-upload"> </i>  Upload</button></a></div>
</div>
<!-- <div class="row" style="margin-bottom: 20px;" *ngIf="showupload">
    <div class="col-sm-6" ><a routerLink="/buy-credits"><button type="button" class="btn btn-primary">Add Credits</button></a></div>
    <div class="col-sm-6 "><a routerLink="/upload"><button type="button" class="btn btn-primary" style="float: right;">Upload</button></a></div>
</div> -->
<div style="text-align: center;padding-bottom: 20px;">

    <span ><b>Uploaded New List</b></span>
</div>
<p-table #dt1 [columns]="cols" [value]="tabledata" [paginator]="true" [rows]="3" dataKey="vin"
    [resizableColumns]="true" [reorderableColumns]="true" >
    <ng-template pTemplate="header" let-columns >
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn style="text-align: center;">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="text-align:center"> Delete</th>
            <!-- <th>Edit 
            </th> -->
        </tr>
        <!-- <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                <input pInputText type="text" 
                    (input)="dt1.filter($event.target.value, col.field, 'contains')"
                    [value]="dt1.filters[col.field]?.value">
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns let idx = index">
                <div style="text-align:center"> 
                    <span *ngIf="idx!=4&& idx!=3 && idx!=1">
                        {{rowData[col.field]}}
                    </span>
                    <span  *ngIf="idx==1" >
                        {{rowData.email_cleaned}}/{{rowData[col.field]}}
                    </span>
                    <span *ngIf="idx==3">
                        <i *ngIf = "rowData.email_cleaned == rowData.email_count"class="fa fa-download"></i>
                        <!-- <p *ngIf = "rowData['col.field'] != 100">{{rowData[col.field]}}</p> -->
                        <p-progressBar *ngIf="rowData.email_cleaned != rowData.email_count" [value]="rowData[col.field]"></p-progressBar>
                        <!-- <p><ngb-progressbar type="success" value = "rowData['col.field']    "></ngb-progressbar></p> -->
                        <!-- <div class="progress">
                            <div class="progress-bar" type="success" role="progressbar" [ngStyle]="{width: rowData['col.field']}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> -->
                        <!-- <i *ngIf = "{{rowData['col.field']}} != 100"class="fa fa-download"></i> -->
                    </span>
                    <span *ngIf="idx==4">
                        <button type="button" class="btn btn-sm btn-primary" *ngIf="rowData.email_cleaned == rowData.email_count"  [disabled]= "rowData.email_cleaned == rowData.email_count" style="cursor: default">Cleaned</button>
                        <button type="button" class="btn btn-sm btn-primary" *ngIf="rowData.email_cleaned != rowData.email_count"  (click)="selectCarWithButton(rowData)" >Clean</button>
                         <!-- <i class="pi pi-trash" (click)="selectCarWithButton(rowData)" style="cursor: pointer;"></i> -->
    
                    </span>
                </div>
                
            </td>
            <td style="text-align:center">
                <i class="pi pi-trash" (click)="DeleteFile(rowData)" style="cursor: pointer;"></i>
            </td>
        </tr>

        <!-- <tr>
            <td *ngFor="let col of columns let idx=index">
                <div style="text-align:center">
                    <span *ngIf="idx == 0" >
                        <span ><a  href="/partners/edit/{{rowData.id}}">{{rowData[col.field]}}</a></span> 
                     </span>
               
                <span *ngIf=" idx!=0">
                    {{rowData[col.field]}}
                </span>
            </div>
         
        </tr> -->
    </ng-template>
</p-table>


<div bsModal #modal   #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">File Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="lgModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body" *ngIf="dialogdata">
          <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button> -->
         <div class= "m-2">
             <span>No of Mails: {{dialogdata.email_count}}</span><br><br>
             <span> No of Credits:{{dialogdata.email_count}}</span><br><br>
             <span>No of Credits Available:{{dialogdata.credits}}</span>
             <button type="button" class="btn btn-sm btn-primary" style="float: right;" (click)="Cleandata(rowdata)">Clean</button>
         </div>
        </div>
      </div>
    </div>
  
  </div>
  