.ui-dialog-footer{
    display: none ;
}


.mydialog {
    width: 50vw;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}
.flex-box{
    display: flex;
    justify-content: space-between;
}