<section id="header" style="height:60px;background-color: #002c86;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">
    
    <a class="navbar-brand mb-0" href="#"><img src ="./../../../assets/no background mail janitor logo.png" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-menu">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/website">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item active">
          <button type="button" class="btn " (click)="lgModal.show()">Register</button>
        </li>
        <li class="nav-item active">
          <button type="button" class="btn " (click)="lgModal1.show()">Login</button>
        </li>
     
      </ul>
    
    </div>
  </nav>
</section>
<section id="carousel-section">
  <carousel class="carousel-inner">
    <slide class="carousel-item">
      <img src="../../../assets/img/email_Delivery trial4 PNG.png" alt="firstSlide" class="d-block w-100" style="height: 89vh">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h3>Improve Your Email Delivery</h3> -->
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </slide>
    <slide class="carousel-item">
      <img src="../../../assets/img/spamtraps trial2_png.png" alt="secondSlide"
        class="d-block w-100" style="height: 89vh">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h3>Remove Known Spametraps and Other Bad Emails</h3> -->
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </slide>
    <slide class="carousel-item">
      <img src="../../../assets/img/delivery_result_png1.png" alt="thirdSlide" class="d-block w-100" style="height: 89vh">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h3>Better Delivery is Better Result</h3> -->
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </slide>
  </carousel>
</section>
<!-- <section id="welcome-note">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
       <h1 class="display-4">Welcome!!</h1>
            <p class="lead">Mail Janitar</p> -->
    <!-- </div>
  </div>
</section> -->


<section id="footer" class="footer bg-dark py-2">
  <div class="text-center">
    @All rights reserved with Blocmatrix
  </div>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="close pull-right " aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="icon-user"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="Username" name="username">
    </div>
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="Password" name="password">
    </div>
    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary px-4">Login</button>
        <br>
        <span style="color:darkred">{{message}}</span>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="UserFormGroup">
      <h1>Register</h1>
      <p class="text-muted">Create your account</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="name"
          [class.invalid]="!UserFormGroup.controls.name.valid && (UserFormGroup.controls.name.dirty || onsubmit)"
          autocomplete="name" formControlName="name">

      </div>
      <div *ngIf="!UserFormGroup.controls.username.valid && (UserFormGroup.controls.username.dirty || onsubmit)">
        <p style="color: red;">please enter username</p>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username"
          [class.invalid]="!UserFormGroup.controls.username.valid && (UserFormGroup.controls.username.dirty || onsubmit)"
          autocomplete="username" formControlName="username">

      </div>
      <div *ngIf="!UserFormGroup.controls.username.valid && (UserFormGroup.controls.username.dirty || onsubmit)">
        <p style="color: red;">please enter username</p>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Email"
          [class.invalid]="!UserFormGroup.controls.email.valid && (UserFormGroup.controls.email.dirty || onsubmit)"
          autocomplete="email" formControlName="email">
      </div>
      <div *ngIf="!UserFormGroup.controls.email.valid && (UserFormGroup.controls.email.dirty || onsubmit)">
        <p style="color: red;">Please enter the email</p>
      </div>
      <!-- <div *ngIf="!UserFormGroup.controls.email.valid && UserFormGroup.controls.email.touched " sty><p style="color: red;">Please enter the valid email</p></div> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
          [class.invalid]="!UserFormGroup.controls.password.valid && (UserFormGroup.controls.password.dirty || onsubmit)"
          formControlName="password">
      </div>
      <div *ngIf="!UserFormGroup.controls.password.valid && (UserFormGroup.controls.password.dirty || onsubmit)">
        <p style="color: red;">Please enter the password</p>
      </div>
      <!-- <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
        </div> -->
      <button type="button" class="btn btn-block btn-success" (click)="OnReqister()">Create Account</button>
    </form>
  </div>
</ng-template>

<!-- <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button> -->

<div bsModal #modal   #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header">
            <h4 id="dialog-sizes-name2" class="modal-title pull-left">Small modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <form #myform [formGroup]="UserFormGroup">
          <h1>Register</h1>
          <p class="text-muted">Create your account</p>
          <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="name"
              [class.invalid]="!UserFormGroup.controls.name.valid && (UserFormGroup.controls.name.dirty || onsubmit)"
              autocomplete="name" formControlName="name">

          </div>
          <div *ngIf="!UserFormGroup.controls.name.valid  && (UserFormGroup.controls.name.dirty || onsubmit)">
            <p style="color: red;">please enter name</p>
          </div> -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username"
              [class.invalid]="!UserFormGroup.controls.username.valid && (UserFormGroup.controls.username.dirty || onsubmit)"
              autocomplete="username" formControlName="username">

          </div>
          <div *ngIf="!UserFormGroup.controls.username.valid && (UserFormGroup.controls.username.dirty || onsubmit)">
            <p style="color: red;">please enter username</p>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Email"
              [class.invalid]="!UserFormGroup.controls.email.valid && (UserFormGroup.controls.email.dirty || onsubmit)"
              autocomplete="email" formControlName="email">
          </div>
          <div *ngIf="!UserFormGroup.controls.email.valid && (UserFormGroup.controls.email.dirty || onsubmit)">
            <p style="color: red;">Please enter the email</p>
          </div>
          <!-- <div *ngIf="!UserFormGroup.controls.email.valid && UserFormGroup.controls.email.touched " sty><p style="color: red;">Please enter the valid email</p></div> -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
              [class.invalid]="!UserFormGroup.controls.password.valid && (UserFormGroup.controls.password.dirty || onsubmit)"
              formControlName="password">
          </div>
          <div *ngIf="!UserFormGroup.controls.password.valid && (UserFormGroup.controls.password.dirty || onsubmit)">
            <p style="color: red;">Please enter the password</p>
          </div>
          <!-- <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
            </div> -->
          <button type="button" class="btn btn-block btn-success" (click)="OnReqister()">Create Account</button>
          <br>
          <span style="color:darkred">{{message1}}</span>
        </form>
      </div>
    </div>
  </div>

</div>

<div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Small modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <form (ngSubmit)="OnLogin()">
          <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal1.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1>Login</h1>
          <p class="text-muted"></p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-user"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="Username" name="username">
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-lock"></i>
              </span>
            </div>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="Password" name="password">
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary px-4">Login</button>
              <br>
              <span style="color:darkred">{{message}}</span>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
